textarea {
    resize: none;
}

#settings {
    color: inherit;
    text-decoration: none;
}

#message {
    color: var(--dark-mode-1); /* Default for light mode */
    margin-bottom: 10px;
}

/* Taken from https://www.w3schools.com/howto/howto_js_autocomplete.asp */
.autocomplete {
    /* the container must be positioned relative: */
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid var(--light-mode-2);
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    width: 100%;
}

input[type=submit] {
    color: #fff;
    background-color: var(--light-mode-1);
}

.autocomplete-items {
    position: absolute;
    border: 1px solid var(--light-mode-3);
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /* position the autocomplete items to be the same width as the container: */
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--light-mode-3);
}

.autocomplete-items div:hover {
    /* when hovering an item: */
    background-color: var(--light-mode-4);
}

.autocomplete-active {
    /* when navigating through the items using the arrow keys: */
    background-color: var(--light-mode-1) !important;
    color: #ffffff;
}

/* Light mode (default) */
input {
    background-color: var(--light-mode-5);
}

input[type=submit] {
    background-color: var(--light-mode-1);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    #message {
        color: var(--dark-mode-5);
    }

    input {
        background-color: var(--dark-mode-2);
        color: var(--dark-mode-5);
        border: 1px solid var(--dark-mode-3);
    }

    input[type=submit] {
        background-color: var(--dark-mode-4);
    }

    .autocomplete-items div {
        background-color: var(--dark-mode-2);
        color: var(--dark-mode-5);
        border-bottom: 1px solid var(--dark-mode-3);
    }

    .autocomplete-items div:hover {
        background-color: var(--dark-mode-3);
    }
}
